nav {
    width: 230px;
    flex-shrink: 0;
    height: 100vh;
    position: relative;
    background-color: #0a3d62;
    font-family: inherit;
    font-size: medium;
    overflow: auto;
    transition: width 0.3s ease;
    padding-top: 52px;
}

.hide-nav {
    width: 0;
}

.hide-nav-btn {
    width: 52px;
    height: 52px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 102;
    background-color: rgba(0, 0, 0, 0);
    transition: color 0.3s ease;
    border: 1px solid rgb(10 61 98);
    border-radius: 50%;
}

.hide-nav .hide-nav-btn {
    color: rgb(10 61 98);
}


nav a, nav button {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    margin: 0;
    font-family: inherit;
    font-size: medium;
}

div.dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    background-color: rgb(6 35 56);
    border-bottom: solid 1px #1b1b2f;
    border-top: solid 1px #1f4068;
}


nav .submenu {
    width: 100%;
    background: rgb(6 35 56);
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
}

nav .submenu a{
    padding-left: 25px;
    position: relative;
    background: rgb(6 35 56);
}

nav .submenu a::before{
    content:'';
    display:block;
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 5px;
    background: #e43f5a;
    opacity: 0;
    transition: all .5s;
}

nav .submenu a:hover{
    padding-left: 30px;
}

nav .submenu a:hover::before{
    opacity: 1;
}

a > span, button > span {
    margin-right: 10px;
}

.show-dropdown-btn:focus + .submenu{
    max-height: 20rem !important;
}