{% include ../layouts/header.html %}
<div class="container flex-center height-100 mg_4">
    <form action="/login" method="POST"
          class="flex-center flex-direction-column width-60 height-60 bg-grey box-shadow bd-round">
        <label class="flex-center flex-direction-column width-80 pd_2 ">
            User name or email
            <input type="text" placeholder="Email or user name..." name="email"
                   class="display-block width-100 pd_2 bd-round">
        </label>
        <label class="flex-center flex-direction-column width-80 pd_2 ">
            Password
            <input type="password" placeholder="Password..." name="password"
                   class="display-block width-100 pd_2 bd-round">
        </label>
        <input type="submit" value="Submit" class="btn bd-round">
    </form>
</div>
{% include ../layouts/footer.html %}
