* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: flex-start; */
    align-items: stretch;

}

.body {
    flex-grow: 1;
    height: 100vh;
    overflow: auto;
}

h1 {
    text-align: center;
}

button, a, input[type=submit] {
    width: 100px;
    height: 50px;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    border: none;
    text-align: center;
    background-color: #0a3d62    ;/*rgb(87, 87, 209);*/
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

input[type=text], input[type=password], input[type=number], textarea, select, .message{
    width: 95%;
    height: 3em;
    padding: 10px;
    margin: 5px auto 5px auto;
    display: block;
    
    font-size: inherit;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2px;
}

textarea:focus{
    border: 1px solid;
}

textarea{
    height: 3em;
    resize: none;
    font-family: inherit;
    border: none;
}

textarea::-webkit-scrollbar{
    width: 0;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-top: 0.5em;
}

div.page {
    width: 100%;
    position: relative;
    /* overflow-x: auto; */
}

div.manage-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

div.manage-buttons > button, div.page button,
div.manage-buttons > a, div.page a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.instance > .manage-buttons,
.form > .manage-buttons{
    position: absolute;
    top: 0;
    right: 0;
}

form > .manage-buttons, .modal .manage-buttons {
    position: absolute;
    top: 0;
    right: 0;
}

form > .manage-buttons button:last-child:hover {
    background-color: red;
}

.hide {
    display: none;
}