.login-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-index, .login-index > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-index label {
    width: 50%;
}


div.login-index button.login-btn {
    width: 100px;
    height: 50px;
    padding: 5px;
    margin: 5px;

    text-decoration: none;
    border: none;
    text-align: center;
    background-color: #0a3d62    ;/*rgb(87, 87, 209);*/
    color: white;
    border-radius: 3px;
}

.login-fail-message {
    color: red;
}